---
title: Tom Select
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <%= link_to "orchidjs/tom-select", "https://github.com/orchidjs/tom-select", target: :_blank %><br>
  <%= link_to "Documentation", "https://tom-select.js.org", target: :_blank %><br>

  <div class="prose prose-invert max-w-full mt-12">
    <%== render_markdown(File.read("modules/tom-select/README.md")) %>
  </div>
<% end %>
