---
title: Turbo Power
image: power.png
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <%= link_to "marcoroth/turbo_power", "https://github.com/marcoroth/turbo_power", target: :_blank %><br>
  <%= link_to "marcoroth/turbo_power-rails", "https://github.com/marcoroth/turbo_power-rails", target: :_blank %><br>

  <div class="prose prose-invert max-w-full">
    <%== render_markdown(File.read("modules/turbo_power/README.md")) %>
  </div>
<% end %>
