---
title: Drawing on Images
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <h3 class="h4">Leveraging the HTML5 Canvas</h3>
  <ul>
    <li><a href="https://www.fogel.dev/canvas_on_rails_1">HTML5 Canvas on Rails? - Ariel Fogel</a></li>
  </ul>
<% end %>
