---
title: Select Boxes
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <a href="https://tom-select.js.org" target="_blank">https://tom-select.js.org</a>

  <details>
    <summary>Stimulus Integration with Tom Select</summary>
    <%= render UI::GistComponent.new(author: "tabishiqbal", id: "dc78239aa5b81b257db0633ace75ecc0") %>
  </details>

  <details>
    <summary>Tom Select for Multiselect (Without Stimulus)</summary>
    <%= render UI::GistComponent.new(author: "tabishiqbal", id: "32fe6c17f74c7da09c24d33feee77e26") %>
  </details>
<% end %>
