<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-12 md:pt-20">

      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
        <div>
          <div class="inline-flex font-medium bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 pb-3">Official and Third-Party Plugins</div>
        </div>
        <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">Rich Plugin System</h2>
        <p class="text-lg text-slate-400">
          Effortlessly extend and customize your Hotwire applications with our plug-n-play ecosystem. Discover a wealth of third-party integrations and tools.
        </p>
      </div>

      <div class="relative before:absolute before:inset-0 before:-translate-x-full before:z-20 before:bg-gradient-to-l before:from-transparent before:to-black before:to-20% after:absolute after:inset-0 after:translate-x-full after:z-20 after:bg-gradient-to-r after:from-transparent after:to-black after:to-20%">
        <div class="carousel swiper-container group">
          <div class="swiper-wrapper w-fit" data-highlighter>
            <!-- Carousel items -->

            <a href="/documentation/turbo-power" class="swiper-slide h-auto relative bg-slate-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:bg-yellow-500 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden group/slide">
              <div class="relative h-full bg-slate-900 rounded-[inherit] z-20 overflow-hidden">
                <!-- Radial gradient -->
                <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/3 aspect-square" aria-hidden="true">
                  <div class="absolute inset-0 translate-z-0 rounded-full bg-slate-800 group-[.swiper-slide-active]/slide:bg-yellow-500 transition-colors duration-500 ease-in-out blur-[60px]"></div>
                </div>

                <img class="" src="<%= image_path("power.png") %>" width="100%" height="56" alt="Icon 01">
              </div>
            </a>

            <a href="/documentation/turbo-morph" class="swiper-slide h-auto relative bg-slate-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:bg-yellow-500 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden group/slide">
              <div class="relative h-full bg-slate-900 rounded-[inherit] z-20 overflow-hidden">
                <!-- Radial gradient -->
                <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/3 aspect-square" aria-hidden="true">
                  <div class="absolute inset-0 translate-z-0 rounded-full bg-slate-800 group-[.swiper-slide-active]/slide:bg-yellow-500 transition-colors duration-500 ease-in-out blur-[60px]"></div>
                </div>
                <img class="" src="<%= image_path("morph.png") %>" width="100%" height="56" alt="Icon 01">
              </div>
            </a>

            <a href="/documentation/formulus" class="swiper-slide h-auto relative bg-slate-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:bg-yellow-500 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden group/slide">
              <div class="relative h-full bg-slate-900 rounded-[inherit] z-20 overflow-hidden">
                <!-- Radial gradient -->
                <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/3 aspect-square" aria-hidden="true">
                  <div class="absolute inset-0 translate-z-0 rounded-full bg-slate-800 group-[.swiper-slide-active]/slide:bg-yellow-500 transition-colors duration-500 ease-in-out blur-[60px]"></div>
                </div>

                <img class="" src="<%= image_path("formulus.png") %>" width="100%" alt="Icon 01">
              </div>
            </a>

            <a href="/documentation/turbo-boost" class="swiper-slide h-auto relative bg-slate-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:bg-yellow-500 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden group/slide">
              <div class="relative h-full bg-slate-900 rounded-[inherit] z-20 overflow-hidden">
                <!-- Radial gradient -->
                <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/3 aspect-square" aria-hidden="true">
                  <div class="absolute inset-0 translate-z-0 rounded-full bg-slate-800 group-[.swiper-slide-active]/slide:bg-yellow-500 transition-colors duration-500 ease-in-out blur-[60px]"></div>
                </div>
                <img class="" src="<%= image_path("boost.png") %>" width="100%" alt="Icon 01">
              </div>
            </a>

            <a href="/documentation/stimulus-use" class="swiper-slide h-auto relative bg-slate-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:bg-yellow-500 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden group/slide">
              <div class="relative h-full bg-slate-900 rounded-[inherit] z-20 overflow-hidden">
                <!-- Radial gradient -->
                <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/3 aspect-square" aria-hidden="true">
                  <div class="absolute inset-0 translate-z-0 rounded-full bg-slate-800 group-[.swiper-slide-active]/slide:bg-yellow-500 transition-colors duration-500 ease-in-out blur-[60px]"></div>
                </div>

                <div class="font-bold bg-black w-full h-full flex items-center justify-center text-4xl">
                  <span>Stimulus Use</span>
                </div>
              </div>
            </a>


          </div>

        </div>
      </div>

      <!-- Arrows -->
      <div class="flex mt-8 justify-end">
        <button class="carousel-prev relative z-20 w-12 h-12 flex items-center justify-center group">
          <span class="sr-only">Previous</span>
          <svg class="w-4 h-4 fill-slate-500 group-hover:fill-yellow-500 transition duration-150 ease-in-out" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.7 14.7l1.4-1.4L3.8 9H16V7H3.8l4.3-4.3-1.4-1.4L0 8z" />
          </svg>
        </button>
        <button class="carousel-next relative z-20 w-12 h-12 flex items-center justify-center group">
          <span class="sr-only">Next</span>
          <svg class="w-4 h-4 fill-slate-500 group-hover:fill-yellow-500 transition duration-150 ease-in-out" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.3 14.7l-1.4-1.4L12.2 9H0V7h12.2L7.9 2.7l1.4-1.4L16 8z" />
          </svg>
        </button>
      </div>

    </div>
  </div>
</section>
