<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20 border-t border-slate-800">

      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
        <div>
          <div class="inline-flex font-medium bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 to-yellow-600 pb-3">
            Integrates with your favorite framework
          </div>
        </div>
        <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">
          Framework Integrations
        </h2>
        <p class="text-lg text-slate-400">
          The Hotwire approach is compatible with any server-side rendered framework.
        </p>
      </div>

      <!-- Integration boxes -->
      <div class="relative max-w-xs sm:max-w-md mx-auto md:max-w-6xl grid grid-cols-2 sm:grid-cols-3 md:grid-cols-6 gap-2">
        <a href="/frameworks/rails" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <i class="devicon-rails-plain-wordmark colored text-8xl"></i>
        </a>

        <a href="/frameworks/laravel" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <i class="devicon-laravel-plain-wordmark colored text-6xl"></i>
        </a>

        <a href="/frameworks/symfony" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <i class="devicon-symfony-original-wordmark text-6xl"></i>
        </a>

        <a href="/frameworks/django" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <i class="devicon-django-plain text-5xl"></i>
        </a>

        <a href="/frameworks/wagtail" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <i class="devicon-python-plain text-5xl"></i>
        </a>

        <a href="/frameworks/bridgetown" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <img src="<%= image_path("frameworks/bridgetown.png") %>" alt="Bridgetown Logo" class="max-w-[60px]">
        </a>

        <a href="/frameworks/phoenix" class="rounded-xl relative flex justify-center items-center bg-gray--900 aspect-square p-2">
          <i class="devicon-phoenix-plain-wordmark colored text-6xl"></i>
        </a>
      </div>

    </div>
  </div>
</section>
