<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20 border-t border-slate-800">

      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
        <div>
          <div class="inline-flex font-medium bg-clip-text text-transparent bg-gradient-to-r from-yellow-200 to-yellow-600 pb-3">
            Integrates with your favorite framework
          </div>
        </div>
        <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">
          Framework Integrations
        </h2>
        <p class="text-lg text-slate-400">
          The Hotwire approach is compatible with any server-side rendered framework.
        </p>
      </div>

      <div class="relative max-w-xs sm:max-w-md mx-auto md:max-w-6xl grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5">
        <% FrameworkModel.grouped_by_language.each do |language, pages| %>
          <% pages.each do |page| %>
            <a href="<%= page.request_path %>" class="rounded-xl relative flex justify-center items-center hover:bg-gray-900/75 aspect-square">
              <% if page.image %>
                <%= image_tag image_path(page.image), alt: "#{page.framework} Logo", class: "w-20" %>
              <% elsif page.icon_class %>
                <%= tag.i class: "#{page.icon_class} text-7xl" %>
              <% end %>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
