<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 border border-slate-800 rounded-lg bg-black/50 mt-36 mb-24">
    <div class="relative px-8 py-12 md:py-20 rounded-[3rem] overflow-hidden">
      <!-- Radial gradient -->
      <div class="absolute flex items-center justify-center top-0 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/3 aspect-square" aria-hidden="true">
        <div class="absolute inset-0 translate-z-0 bg-yellow-500 rounded-full blur-[120px] opacity-70"></div>
        <div class="absolute w-1/4 h-1/4 translate-z-0 bg-yellow-400 rounded-full blur-[40px]"></div>
      </div>
      <!-- Blurred shape -->
      <div class="absolute bottom-0 translate-y-1/2 left-0 blur-2xl opacity-50 pointer-events-none -z-10" aria-hidden="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
          <defs>
            <linearGradient id="bs5-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
              <stop offset="0%" stop-color="yellow" />
              <stop offset="100%" stop-color="yellow" stop-opacity="0" />
            </linearGradient>
          </defs>
          <path fill="url(#bs5-a)" fill-rule="evenodd" d="m0 0 461 369-284 58z" transform="matrix(1 0 0 -1 0 427)" />
        </svg>
      </div>
      <!-- Content -->
      <div class="max-w-3xl mx-auto text-center">
        <div>
          <div class="inline-flex font-medium bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-200 pb-3">
            Subscribe to our weekly newsletter
          </div>
        </div>
        <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">
          Stay Ahead of the Curve with Hotwire Weekly!
        </h2>
        <p class="text-lg text-slate-400 mb-8">
          Don't miss out on the latest trends, insights, and innovations in the world of Hotwire. Join our growing community of passionate developers today! Subscribe now for a weekly dose of Hotwire goodness delivered right to your inbox.
        </p>
        <div>
          <a class="btn text-slate-900 bg-gradient-to-r from-white/80 via-white to-white/80 hover:bg-white transition duration-150 ease-in-out group" href="/newsletter">
            Subscribe <span class="tracking-normal text-black group-hover:translate-x-0.5 transition-transform duration-150 ease-in-out ml-1">-&gt;</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
