<h1 class="text-center text-2xl font-bold mt-12">
  Apologies, but this page hasn't been created yet.
</h1>

<p class="text-center text-xl mt-6">
  Hotwire.io is still in its initial stages and relies on contributions from community members like you.
</p>

<p class="text-center text-lg mt-3">
  We'd greatly appreciate your assistance in enhancing this page. You can submit pull requests on GitHub to help make this the most comprehensive Hotwire resource and documentation available.
</p>

<div class="w-full flex justify-center mt-12">
  <a href="<%= github_edit_file_url %>" class="px-4 py-4 bg-yellow-400 hover:bg-yellow-500 rounded text-black font-bold" target="_blank">
    Get Involved Now
  </a>
</div>
