---
title: Getting started with Hotwire in any framework
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <ul class="grid md:grid-cols-2 gap-4">
    <% FrameworkModel.all.each do |page| %>
      <li class="flex">
        <%= link_to page.request_path, class: "p-6 space-x-5 md:h-40 flex items-start hover:bg-gray-900 border border-black hover:border-gray-800 rounded-lg w-full" do %>
          <div class="h-14 w-14 rounded-full bg-gray-600">
            <div></div>
          </div>
          <div class="space-y-1.5 flex-1">
            <h2 class="font-bold text-xl"><%= page.framework %></h2>
            <p class="text-medium text-gray-400"><%= page.description %></p>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
