---
title: Getting started with Hotwire in any framework
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <ul class="grid md:grid-cols-2">
    <% FrameworkModel.all.each do |page| %>
      <li class="flex flex-col gap-x-4">
        <h2 class="font-bold text-lg underline"><%= link_to page.framework, page.request_path %></h2>
      </li>
    <% end %>
  </ul>
<% end %>
