---
title: Use Cases
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <div class="grid grid-cols-3">
    <% UseCasesModel.all.sort_by(&:title).each do |page| %>
      <div class="flex flex-col gap-x-4">
        <h2 class="font-bold text-lg underline"><%= link_to page.title, page.request_path %></h2>
      </div>
    <% end %>
  </div>

  <div class="grid gap-5 sm:grid-cols-2 mt-6">
    <a href="#" class="relative p-5 bg-slate-900 border border-slate-700 rounded-xl">
      <div class="h-full flex flex-col">
        <div class="grow mb-1">
          <img class="mb-3" src="<%= image_path "box-icon-01.svg" %>" width="40" height="40" alt="News icon" />
          <h3 class="text-slate-200 font-semibold mb-1">News & Updates</h3>
          <p class="text-sm text-slate-500">Check out the latest news and updates from the community.</p>
        </div>
        <div class="text-right">
          <span class="text-sm font-medium text-yellow-500 hover:text-yellow-600 transition duration-150 ease-in-out">Learn More <span class="tracking-normal">-&gt;</span></span>
        </div>
      </div>
    </a>

    <a href="#" class="relative p-5 bg-slate-900 border border-slate-700 rounded-xl">
      <div class="h-full flex flex-col">
        <div class="grow mb-1">
          <img class="mb-3" src="<%= image_path "box-icon-02.svg" %>" width="40" height="40" alt="Resources icon" />
          <h3 class="text-slate-200 font-semibold mb-1">Other Resources</h3>
          <p class="text-sm text-slate-500">Books, guides, and webinars full of industry standard to grow your startup.</p>
        </div>
        <div class="text-right">
          <span class="text-sm font-medium text-yellow-500 hover:text-yellow-600 transition duration-150 ease-in-out">Learn More <span class="tracking-normal">-&gt;</span></span>
        </div>
      </div>
    </a>
  </div>
<% end %>
