---
title: Events
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <div class="prose prose-invert max-w-full mt-6">
    <%== turbo_documentation_page("reference/events.md") %>

    <%= render partial: "turbo_site_navigation", locals: { current_page: current_page, model: TurboReferenceModel } %>
  </div>
<% end %>
