---
title: Events
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <div class="prose prose-invert max-w-full">
    <%== render_markdown(File.read(Rails.root.join("modules/turbo-site/_source/reference/events.md")).split("---").last) %>

    <%= render partial: "turbo_site_navigation", locals: { current_page: current_page, model: TurboReferenceModel } %>
  </div>
<% end %>
