---
title: Attributes
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_breadcrumbs(page: current_page) %>
  <div class="prose prose-invert max-w-full">
    <%== render_markdown(File.read(Rails.root.join("app/content/pages/documentation/turbo/turbo-site/_source/reference/attributes.md")).split("---").last) %>

    <%= render partial: "turbo_site_navigation", locals: { current_page: current_page, model: TurboReferenceModel } %>
  </div>
<% end %>
