<section class="relative">

  <!-- Blurred shape -->
  <div class="absolute top-0 -translate-y-1/4 left-1/2 -translate-x-1/2 blur-2xl opacity-50 pointer-events-none -z-10" aria-hidden="true">
    <svg xmlns="http://www.w3.org/2000/svg" width="434" height="427">
      <defs>
        <linearGradient id="bs3-a" x1="19.609%" x2="50%" y1="14.544%" y2="100%">
          <stop offset="0%" stop-color="yellow" />
          <stop offset="100%" stop-color="yellow" stop-opacity="0" />
        </linearGradient>
      </defs>
      <path fill="url(#bs3-a)" fill-rule="evenodd" d="m410 0 461 369-284 58z" transform="matrix(1 0 0 -1 -410 427)" />
    </svg>
  </div>

  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-16 pb-12 md:pt-32 md:pb-20 border-b border-slate-800">

      <!-- Section header -->
      <div class="max-w-3xl mx-auto text-center pb-12 md:pb-20">
        <h2 class="h2 bg-clip-text text-transparent bg-gradient-to-r from-slate-200/60 via-slate-200 to-slate-200/60 pb-4">Turn your framework into a full-stack framework</h2>
        <p class="text-lg text-slate-400">
          Hotwire is the catalyst that transforms your backend framework into a complete full-stack powerhouse. It's not just an extension; it's the missing link that takes your web development to the next level.
        </p>
      </div>

      <div class="max-w-lg mx-auto">
        <div>
          <div class="group" data-highlighter>
            <div class="relative bg-slate-800 rounded-3xl p-px before:absolute before:w-96 before:h-96 before:-left-48 before:-top-48 before:bg-yellow-500 before:rounded-full before:opacity-0 before:pointer-events-none before:transition-opacity before:duration-500 before:translate-x-[var(--mouse-x)] before:translate-y-[var(--mouse-y)] before:hover:opacity-20 before:z-30 before:blur-[100px] after:absolute after:inset-0 after:rounded-[inherit] after:opacity-0 after:transition-opacity after:duration-500 after:[background:_radial-gradient(250px_circle_at_var(--mouse-x)_var(--mouse-y),theme(colors.slate.400),transparent)] after:group-hover:opacity-100 after:z-10 overflow-hidden">
              <div class="relative h-full bg-black rounded-[inherit] z-20 overflow-hidden">
                <!-- Radial gradient -->
                <div class="absolute bottom-0 translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none -z-10 w-1/2 aspect-square" aria-hidden="true">
                  <div class="absolute inset-0 translate-z-0 bg-yellow-100 rounded-full blur-[120px]"></div>
                </div>
                <img src="<%= image_path("hotwire.png") %>" width="768" height="400" alt="Feature 04">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
