<footer>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="grid sm:grid-cols-12 gap-8 py-8 md:py-12">

      <div class="sm:col-span-12 lg:col-span-4 order-1 lg:order-none">
        <div class="h-full flex flex-col sm:flex-row lg:flex-col justify-between">
          <div class="mb-4 sm:mb-0">
            <div class="mb-4">
              <!-- Logo -->
              <a class="block" href="index.html" aria-label="Cruip">
                <img src="<%= image_path("logo.svg") %>" width="100" height="100" alt="Hotwire.io">
              </a>
            </div>
            <div class="text-sm text-slate-300">Hotwire.io <span class="text-slate-500">-</span> Community-maintained Hotwire Hub</div>
          </div>
        </div>
      </div>

      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <h6 class="text-sm text-slate-50 font-medium mb-2">Ecosystem</h6>
        <ul class="text-sm space-y-2">
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Core Libraries</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Extending Core</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">New Concepts</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Helper Libraries</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Editor Tooling</a></li>
        </ul>
      </div>

      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <h6 class="text-sm text-slate-50 font-medium mb-2">Documentation</h6>
        <ul class="text-sm space-y-2">
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Turbo</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Stimulus</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Strada</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Turbo Power</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Turbo Morph</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Formulus</a></li>
        </ul>
      </div>

      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <h6 class="text-sm text-slate-50 font-medium mb-2">Framework Integrations</h6>
        <ul class="text-sm space-y-2">
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Ruby on Rails</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Laravel</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Symfony</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Django</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Hanami</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Roda</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Bridgetown</a></li>
        </ul>
      </div>

      <div class="sm:col-span-6 md:col-span-3 lg:col-span-2">
        <h6 class="text-sm text-slate-50 font-medium mb-2">Community</h6>
        <ul class="text-sm space-y-2">
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Resources</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Tutorials</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Videos</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Blogs</a></li>
          <li><a class="text-slate-400 hover:text-slate-200 transition duration-150 ease-in-out" href="#0">Books</a></li>
        </ul>
      </div>

    </div>

  </div>
</footer>
