---
title: Visual Studio Code
subtitle: Install Stimulus LSP in Visual Studio Code
editor: vscode
breadcrumb: Visual Studio Code
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("subtitle")) %>

   <a
     href="https://marketplace.visualstudio.com/items?itemName=marcoroth.stimulus-lsp"
     target="_blank"
     class="mt-64 rounded-lg bg-[#77e8b9] px-7 py-4 text-lg font-semibold text-black shadow-xl transition hover:brightness-110"
     rel="noreferrer">
     Install the extension from the VSCode marketplace
   </a>
<% end %>
