---
title: Getting started with Hotwire in ASP.NET
framework: ASP.NET
language: C#
description: A framework for building web apps and services with .NET and C#.
icon_class: devicon-dot-net-plain-wordmark text-5xl
breadcrumb: ASP.NET
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <h3 class="mt-12 text-2xl font-bold">Examples</h3><br/>

  <%= link_to "aspnet-hotwire", "https://github.com/matthewblott/aspnet-hotwire", target: :_blank %><br>
  <%= link_to "aspnet-hotwire-nodeless", "https://github.com/matthewblott/aspnet-hotwire-nodeless", target: :_blank %><br>
  <%= link_to "apfohl/HotwiredBooks", "https://github.com/apfohl/HotwiredBooks", target: :_blank %><br>
<% end %>
