---
title: Getting started with Hotwire in Flask
framework: Flask
language: Python
description: Python web framework that provides configuration, conventions, and extensions to create and deploy web applications.
icon_class: devicon-flask-original text-5xl
breadcrumb: Flask
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>
  <h3 class="mt-8 mb-4 text-2xl font-bold">Packages</h3>

  <%= link_to "turbo-flask", "https://github.com/miguelgrinberg/turbo-flask", target: :_blank %><br>
<% end %>
