---
title: Getting started with Hotwire in NestJS
framework: NestJS
language: JavaScript
description: A progressive Node.js framework for building efficient, reliable and scalable server-side applications.
icon_class: devicon-nestjs-plain colored text-5xl
breadcrumb: NestJS
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <h3 class="font-bold text-2xl mt-12">Guides</h3>

  <div class="grid grid-cols-1">
    <div class="flex flex-col gap-x-4">
      <h2 class="font-bold text-lg underline">
        <%= link_to "Part I: How to build an app with nestjs and hotwire!", "https://dev.to/mrispoli24/how-to-build-an-app-with-nestjs-and-hotwire-42j1" %>
      </h2>
    </div>
    <div class="flex flex-col gap-x-4">
      <h2 class="font-bold text-lg underline">
        <%= link_to "Part II: Kicking the tires with NestJS and Hotwire", "https://dev.to/mrispoli24/kicking-the-tires-with-nestjs-and-hotwire-part-ii-33fh" %>
      </h2>
    </div>
  </div>

<% end %>
