---
title: Getting started with Hotwire in Ruby on Rails
framework: Ruby on Rails
language: Ruby
description: A full-stack framework with all the tools needed to build amazing web apps on both the front and back end.
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <h3 class="font-bold text-2xl">Setup</h3>

  <div class="grid grid-cols-1">
    <% site.resources.glob("frameworks/rails/setup/*html*").each do |site| %>
      <div class="flex flex-col gap-x-4">
        <h2 class="font-bold text-lg underline">
          <%= link_to site.data.fetch("title"), site.request_path %>
        </h2>
      </div>
    <% end %>
  </div>

  <h3 class="font-bold text-2xl mt-12">Guides</h3>

  <div class="grid grid-cols-1">
    <% site.resources.glob("frameworks/rails/guides/*html*").each do |site| %>
      <div class="flex flex-col gap-x-4">
        <h2 class="font-bold text-lg underline">
          <%= link_to site.data.fetch("title"), site.request_path %>
        </h2>
      </div>
    <% end %>
  </div>
<% end %>
