---
title: Getting started with Hotwire in Ruby on Rails
framework: Ruby on Rails
language: Ruby
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <div class="grid grid-cols-1">
    <% site.resources.glob("frameworks/rails/*html*").each do |site| %>
      <div class="flex flex-col gap-x-4">
        <h2 class="font-bold text-lg underline">
          <%= link_to site.data.fetch("title"), site.request_path %>
        </h2>
      </div>
    <% end %>
  </div>
<% end %>
