<header class="w-full z-30">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-between h-16 md:h-20">

      <div class="shrink-0 mr-4">
        <a class="block" href="/" aria-label="Hotwire">
          <img src="<%= image_path("logo.svg") %>" width="150" height="100" alt="Hotwire.io">
        </a>
      </div>

      <nav class="flex grow">
        <ul class="flex gap-3 grow justify-end flex-wrap items-center">
          <li><a class="font-medium text-sm text-slate-300 hover:text-white transition duration-150 ease-in-out" href="/documentation">Documentation</a></li>
          <li><a class="font-medium text-sm text-slate-300 hover:text-white transition duration-150 ease-in-out" href="/ecosystem">Ecosystem</a></li>
          <li><a class="font-medium text-sm text-slate-300 hover:text-white transition duration-150 ease-in-out" href="/use-cases">Use-Cases</a></li>
          <li><a class="font-medium text-sm text-slate-300 hover:text-white transition duration-150 ease-in-out" href="/frameworks">Frameworks</a></li>
          <li><a class="font-medium text-sm text-slate-300 hover:text-white transition duration-150 ease-in-out" href="/community">Community</a></li>
          <li><a class="font-medium text-sm text-slate-300 hover:text-white transition duration-150 ease-in-out" href="/newsletter">Newsletter</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
