---
title: Education
subtitle: Educational Resources for Hotwire
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("subtitle")) %>

  <h2 class="text-2xl font-bold mt-4 mb-4">Channels publishing Hotwire content</h2>
  <% Channel.order(name: :asc).each do |channel| %>
    <%= link_to channel.name, channel.url, target: :blank %><br/>
  <% end %>

  <h2 class="text-2xl font-bold mt-4 mb-4">Courses and Communities</h2>
  <% Course.order(name: :asc).each do |channel| %>
    <%= link_to course.name, course.url, target: :blank %><br/>
  <% end %>
  <%# Tutorials %>
<% end %>
