---
title: Turbo
---

<%= render Page::ContainerComponent.new(page: current_page) do |page| %>
  <% page.with_title(title: current_page.data.fetch("title")) %>

  <% site.resources.glob("documentation/turbo/guides/*.html.*").sort_by(&:request_path).each do |page| %>
    <li>
      <a href="<%= page.request_path %>"> <%= page.data.fetch("title") %></a>
    </li>
  <% end %>
<% end %>
